body{
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
}
.box{
    border: 1px solid red;
}
.header{
    background-color: #00838f;
    height: 90px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}
.link{
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 15px;
}

.link:active, .link:hover{
    text-decoration: none;
}
.post_container{
    padding: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 600px;
    border: 1px solid #eee;
    width: auto;
    margin: 10px auto;
}
.post_header{
    color: #fff;
    background-color: #00838f;
    border-radius: 10px 10px 0 0;
    height: 60px;
    font-size: 13px;
    padding: 0 20px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_body{
    padding: 20px;
    letter-spacing: 1px;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    text-align: left;
    line-height: 20px;
}
.post_footer{
    text-align: left;
    padding: 20px;
    font-size: 12px;
    font-weight: 500;
}
.form_row{
    display: flex;
    width: 600px;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}
.form_row_btn{
    justify-content: right !important;
}
.form_row_btn button{
    background-color: #00838f;
    border: 1px solid #00838f;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
    transition: .2s all;
}
.custom_input{
    border: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: .4s all !important;
    width: 470px;
}
.error_row{
    color: red;
    width: 600px;
    margin: 0 auto;
    text-align: right;
}