.hero_section{
    height: 400px;
    border-bottom: 1px solid #ddd;
    display: flex;
    padding-left: 30%;
    align-items: center;
}
.avatar{
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.info{
    margin-left: 100px;
    text-align: left;
}
.info .infoRow{
    margin-bottom: 20px;
}
.info .username{
    font-size: 19px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.info .social_row{
    display: flex;
}
.social_group{
    font-size: 12px;
    margin-right: 20px;
}
.edit_profile{
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid #8a8a8a;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s all;
    letter-spacing: 1px;
}
.edit_profile .icon{
    margin-right: 5px;
}
.edit_profile:hover{
    color: #fff;
    /* background-color: #00838f;
    border: 1px solid #00838f; */
    background-color: #000;
    border: 1px solid #000;
}
.follow_btn{
    margin-left: 20px;
    background-color: #00838f;
    border: 1px solid #00838f;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s all;
    color: #fff;
    letter-spacing: 1px;
}
.follow_done{
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid #8a8a8a;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s all;
    letter-spacing: 1px;
}